body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 2px solid rgba(246, 22, 22, 0.678);
    background-color: red;
    font-size: 18px;
    color: white;
    cursor: pointer;
}